{% extends 'base.html'%}
{% block title %} Aspectos Organizativos {% endblock title%}

{%block text%}Llene las siguientes preguntas{%endblock text%}
{% block body%}
<div class="wrapper">
  <div class="form-box login">
    <h2>Aspectos Organizativos</h2> <br>
    <form action="{% url 'guardar_aspectos' %}" method="POST">
      {% csrf_token %}
      <div  id ="div_organizacion" class="input-box">
        <p>{{pregunta41.texto}}</p>
        <label>
        <input type="radio" class="res" id="input_organizacion" value="Sí" name="organizacion" required onclick="javascript:activar_desactivar('organizacion');">
         Sí
        </label>
        <label><input type="radio" id="input_organizacion2" class="res" value="No" name="organizacion" required onclick="javascript:activar_desactivar('organizacion');">
        No
        </label>
        <label><input type="radio" id="input_organizacion3" class="res" value="No se" name="organizacion" required onclick="javascript:activar_desactivar('organizacion');">
          No se
          </label>
      </div>
      <div id ="div_evidencia_organizacion"class="input-box">
        <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>
      <label>
      <input type="radio" name="evidencia_organizacion" value="Sí" class="res" >
       Sí
      </label>
      <label><input type="radio" name="evidencia_organizacion" value="No" class="res">
      No
      </label>
      <label><input type="radio" name="evidencia_organizacion" value="No se" class="res">
        No se
        </label>
      </div>
      <div  id ="div_estructura" class="input-box">
        <p>{{pregunta42.texto}}</p>
        <label>
        <input id="input_estructura" type="radio" class="res" value="Sí" name="estructura" required onclick="javascript:activar_desactivar('proceso');">
         Sí
        </label>
        <label><input id="input_estructura2" type="radio" class="res" value="No" name="estructura" required  onclick="javascript:activar_desactivar('proceso');">
        No
        </label>
        <label><input id="input_estructura3" type="radio" class="res" value="No se" name="estructura" required  onclick="javascript:activar_desactivar('proceso');">
          No se
          </label>
      </div>
      <div  id="div_evidencia_estructura" class="input-box">
        <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>
        <label>
        <input type="radio" class="res" value="Sí" name="evidencia_estructura">
         Sí
        </label>
        <label><input type="radio" class="res" value="No" name="evidencia_estructura">
        No
        </label>
        <label><input type="radio" class="res" value="No se" name="evidencia_estructura">
          No se
        </label>
      </div>
      <div id="div_operativa" class="input-box">
        <p>{{pregunta43.texto}}</p>
        <label>
        <input id="input_operativa" type="radio" class="res" value="Sí" name="operativa" required onclick="javascript:activar_desactivar('operativa');">
         Sí
        </label>
        <label><input id="input_operativa2" type="radio" class="res" value="No" name="operativa" required onclick="javascript:activar_desactivar('operativa');">
        No
        </label>
        <label><input id="input_operativa3" type="radio" class="res" value="No se" name="operativa" required onclick="javascript:activar_desactivar('operativa');">
          No se
        </label>
      </div>
      <div  id="div_evidencia_operativa" class="input-box">
        <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>        
    <label>
    <input type="radio" class="res" value="Sí" name="evidencia_operativa">
     Sí
    </label>
    <label><input type="radio" class="res" value="No" name="evidencia_operativa">
    No
    </label>
    <label><input type="radio" class="res" value="No se" name="evidencia_operativa" >
      No se
      </label>
  </div>
  <div  id ="div_producto" class="input-box" style="position: absolute; top: 14.8%; left: 52%;">
    <p>{{pregunta44.texto}}</p>
    <label>
    <input id="input_producto" type="radio" class="res" value="Sí" name="producto" required onclick="javascript:activar_desactivar('producto');">
     Sí
    </label>
    <label><input id="input_producto2" type="radio" class="res" value="No" name="producto" required  onclick="javascript:activar_desactivar('producto');">
    No
    </label>
    <label><input id="input_producto2" type="radio" class="res" value="No se" name="producto" required  onclick="javascript:activar_desactivar('producto');">
      No se
      </label>
  </div>
  <div  id="div_evidencia_producto" class="input-box">
    <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>        
<label>
<input type="radio" class="res" value="Sí" name="evidencia_producto">
 Sí
</label>
<label><input type="radio" class="res" value="No" name="evidencia_producto">
No
</label>
<label><input type="radio" class="res" value="No se" name="evidencia_producto">
  No se
</label>
</div>




  <button type="submit" class="btn">Registrar</button>
    </form>
  </div>
  
  </div>
  <img src="https://media.discordapp.net/attachments/713043245214597160/1081253308523618375/relacion-de-aspecto.png"  class="img">
  

<script>
  function activar_desactivar(dato){
  switch(dato){
  case "organizacion":
  if(document.getElementById('input_organizacion').checked){
    document.getElementById('div_evidencia').style.display="block";
   
  }
  else{
    if(document.getElementById('input_organizacion2').checked || document.getElementById('input_organizacion3').checked){
    document.getElementById('div_evidencia').style.display="none";
    
  }
  }
  break;
  case "proceso":
  if(document.getElementById('input_estructura').checked){
    document.getElementById('div_evidencia_estructura').style.display="block";
  }
  else{
    if(document.getElementById('input_estructura2').checked || document.getElementById('input_estructura3').checked){
    document.getElementById('div_evidencia_estructura').style.display="none";
  }
  }
  break;
  case "operativa":
    if(document.getElementById('input_operativa').checked){
      document.getElementById('div_evidencia_operativa').style.display="block";
    }
    else{
      if(document.getElementById('input_operativa2').checked || document.getElementById('input_operativa3').checked){
      document.getElementById('div_evidencia_operativa').style.display="none";
    }
    }
    break;
    case "producto":
    if(document.getElementById('input_producto').checked){
      document.getElementById('div_evidencia_producto').style.display="block";
    }
    else{
      if(document.getElementById('input_producto2').checked || document.getElementById('input_producto3').checked){
      document.getElementById('div_evidencia_producto').style.display="none";
    }
    }
    break;
  }
  
  }
  
  </script>


<style>
  .wrapper{
              width: 1100px;
              height: 680px;
              background: transparent;
              border: 8px solid #d49d11;
              position: relative;
              margin: -25px 0 0 -25px;
             
              backdrop-filter: blur(15px);
              box-shadow: 20px 20px 20px 0px rgba(0, 0, 0,.9);
              top:15%;
              left: 8%;
             justify-content: center;
             align-items: center;
             margin-bottom: 10px;
            overflow-y:scroll
    
             
          }
          .wrapper .form-box{
              width: 100%;
              padding: 40px;
              align-items: center;
              text-align: center;
          }
          
          .form-box h2{
            font-size: 2em;
            color: white;
            text-align: center;
  
          }
          #div_evidencia, #div_evidencia_operativa, #div_evidencia_producto, #div_evidencia_estructura{
            display: none;
          }
           
          .input-box{
            width: 1000px;
     border-radius: 10px;
      background: transparent;
      color: white;
      border-bottom: 2px solid #d49d11;
      border-top: 2px solid #d49d11;
      margin-bottom: 10px;
      text-align: center;         
          }
        .res{
          margin-bottom: 15px;
        }
  
          
          
         
           .input-box p{
      display: flex;
      justify-content: center;
      align-items: center;
              }
    .input-box label{
      display: line;
    position: relative;
    margin-right:10px ;
    
    border-bottom: 2px solid #d49d11;
    margin-bottom: 20px;
    }
  
    
        
    .btn{
            width: 30%;
            height: 45px;
            background: #162938;
            border: none;
            outline:none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 1em;
            color:#fff;
            font-weight: 500;
            margin-top: 10px;
            align-items: center;
            text-align: center;
            
           
          }
          .img{
            position: absolute;
            top: 110%;
           left: 87%;
           width: 110px;
          }
          
      </style>
    

</style>
           
      

 
 


{%endblock body%}