{% extends 'base.html'%}
{% block title %} Investigacion {% endblock title%}

{%block text%}Llene las siguientes preguntas{%endblock text%}
{% block body%}
<div class="wrapper">
  <div class="form-box login">
    <h2>Investigación</h2>
    <form action="/guardar_investigacion/" method="POST">
      {% csrf_token %}
      <div  id ="div_investigacion" class="input-box">
        <p>¿Finalizó con la investigación básica de su idea?</p>
        <label>
        <input type="radio" class="res" id="input_investigacion" name="investigacion" value="Sí"required onclick="javascript:activar_desactivar('investigacion');">
         Sí
        </label>
        <label><input type="radio" id="input_investigacion2" class="res"  name="investigacion" value="No" required onclick="javascript:activar_desactivar('investigacion');">
          No
        </label>
        <label><input type="radio" id="input_investigacion3" class="res"  name="investigacion" value="No se" required onclick="javascript:activar_desactivar('investigacion');">
          No se
        </label>
      </div>
      <div id ="div_evidencia"class="input-box">
        <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>
      <label>
      <input type="radio" name="evidencia_investigacion" value="Sí" class="res">
       Sí
      </label>
      <label><input type="radio" name="evidencia_investigacion" value="No" class="res">
      No
      </label>
      <label><input type="radio" name="evidencia_investigacion" id="evidencia_investigacion2" value="No se" class="res">
        No se
      </label>
      </div>
      <div  id ="div_principios" class="input-box">
        <p>¿Identificó principios básicos de investigación que pudieran ser utilizados en nuevas tecnologías?</p>
        <label>
        <input id="input_principios" type="radio" class="res" name="principios" value="Sí" onclick="javascript:activar_desactivar('principios');">
         Sí
        </label>
        <label><input id="input_principios2" type="radio" class="res" name="principios" value="No"  onclick="javascript:activar_desactivar('principios');">
        No
        </label>
        <label><input id="input_principios3" type="radio" class="res" name="principios" value="No se"  onclick="javascript:activar_desactivar('principios');">
          No se
          </label>
      </div>
      <div  id="div_evidencia_principios" class="input-box">
        <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>
        <label>

        <input type="radio" class="res" name="evidencia_principios" id="evidencia_principios1" value="Sí">
         Sí
        </label>
        <label><input type="radio" class="res" name="evidencia_principios" id="evidencia_principios2" value="No">
        No
        </label>
        <label><input type="radio" class="res" name="evidencia_principios" id="evidencia_principios2" value="No se">
          No se
          </label>
      </div>
      <div id="div_analisis" class="input-box">
        <p>¿Realizó un análisis de los artículos científicos, modelos o teorías científicas que respaldan la aplicación de la idea en algún área tecnológica?</p>
        <label>
        <input id="input_analisis" type="radio" class="res" name="analisis" value="Sí" required onclick="javascript:activar_desactivar('analisis');">
         Sí
        </label>
        <label><input id="input_analisis2" type="radio" class="res" name="analisis" value="No" required onclick="javascript:activar_desactivar('analisis');">
        No
        </label>
        <label><input id="input_analisis3" type="radio" class="res" name="analisis" value="No se" required onclick="javascript:activar_desactivar('analisis');">
          No se
          </label>
      </div>
      <div  id="div_evidencia_analisis" class="input-box">
        <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>        
    <label>

    <input type="radio" class="res" name="evidencia_analisis" id="evidencia_a1" value="Sí">
     Sí
    </label>
    <label><input type="radio" class="res" name="evidencia_analisis" id="evidencia_a2" value="No">
    No
    </label>
    <label><input type="radio" class="res" name="evidencia_analisis" id="evidencia_a3" value="No se">
      No se
    </label>
  </div>

  <button type="submit" class="btn">Registrar</button>
    </form>
  </div>
  
  </div>
<img src="https://media.discordapp.net/attachments/713043245214597160/1082373330776105060/Mi_proyecto.png?width=619&height=413" class="img"> 

<script>
  function activar_desactivar(dato){
  switch(dato){
  case "investigacion":
  if(document.getElementById('input_investigacion').checked){
    document.getElementById('div_evidencia').style.display="block";
    document.getElementById('div_principios').style.display="block";
  }
  else{
    if(document.getElementById('input_investigacion2').checked || document.getElementById('input_investigacion3').checked){
    document.getElementById('div_evidencia').style.display="none";
    document.getElementById('div_principios').style.display="none";
  }
  }
  break;
  case "principios":
  if(document.getElementById('input_principios').checked){
    document.getElementById('div_evidencia_principios').style.display="block";
  }
  else{
    if(document.getElementById('input_principios2').checked || document.getElementById('input_principios3').checked){
    document.getElementById('div_evidencia_principios').style.display="none";
  }
  }
  break;
  case "analisis":
    if(document.getElementById('input_analisis').checked){
      document.getElementById('div_evidencia_analisis').style.display="block";
    }
    else{
      if(document.getElementById('input_analisis2').checked || document.getElementById('input_analisis3').checked){
      document.getElementById('div_evidencia_analisis').style.display="none";
    }
    }
    break;
  
  }
  
  }
  function pregun(dato){
  if(document.getElementById('input_investigacion').checked){
    eval=25;
  
}
}
  
  </script>



<style>
.wrapper{
            width: 1100px;
            height: 680px;
            background: transparent;
            border: 8px solid #d49d11;
            position: relative;
            margin: -25px 0 0 -25px;
           
            backdrop-filter: blur(15px);
            box-shadow: 20px 20px 20px 0px rgba(0, 0, 0,.9);
            top:15%;
            left: 8%;
           /*display: flex;
           justify-content: center;
           align-items: center;*/
           margin-bottom: 10px;
  
           
        }
        .wrapper .form-box{
            width: 100%;
            padding: 40px;
        }
        
        .form-box h2{
          font-size: 2em;
          color: white;
          text-align: center;

        }
        #div_evidencia, #div_principios, #div_evidencia_principios, #div_evidencia_analisis{
          display: none;
        }
         
        .input-box{
    width: 500px;
   border-radius: 10px;
    background: transparent;
    color: white;
    border-bottom: 2px solid #d49d11;
    border-top: 2px solid #d49d11;
    margin-bottom: 10px;
                
                
            }
      .res{
        margin-bottom: 15px;
      }

        
        
       
         .input-box p{
    display: flex;
    justify-content: center;
    align-items: center;
            }
  .input-box label{
    display: line;
  position: relative;
  left: 30%;
  margin-right:10px ;
  
  border-bottom: 2px solid #d49d11;
  margin-bottom: 20px;
  }

  
      
        .btn{
          width: 30%;
          height: 45px;
          background: #162938;
          border: none;
          outline:none;
          border-radius: 6px;
          cursor: pointer;
          font-size: 1em;
          color:#fff;
          font-weight: 500;
          margin-top: 10px;
          
        }
        .img{
          position: absolute;
          top: 30%;
          left: 40%;
        }
        
    </style>
    

</style>
           
      

 
 


{%endblock body%}
