{% extends 'base.html'%}
{% block title %} Manufactura {% endblock title%}

{%block text%}Llene las siguientes preguntas{%endblock text%}
{% block body%}
<div class="wrapper">
  <div class="form-box login">
    <h2>Manufactura</h2> <br>
    <form action="{%url 'guardar_manufactura'%}" method="POST">
      {% csrf_token %}
      <div  id ="div_manufacturabilidad" class="input-box">
        <p>¿Ha explorado principios básicos de manufacturabilidad?</p>
        <label>
        <input type="radio" class="res" id="input_manufacturabilidad" name="manufacturabilidad" value="Sí" required onclick="javascript:activar_desactivar('manufacturabilidad');">
         Sí
        </label>
        <label><input type="radio" id="input_manufacturabilidad1" class="res"  name="manufacturabilidad" value="No" required onclick="javascript:activar_desactivar('manufacturabilidad');">
        No
        </label>
        <label><input type="radio" id="input_manufacturabilidad2" class="res"  name="manufacturabilidad" value="No se" required onclick="javascript:activar_desactivar('manufacturabilidad');">
          No se
          </label>
      </div>
      <div id ="div_evidencia"class="input-box">
        <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>
      <label>
      <input type="radio" name="evidencia_manufacturabilidad" value="Sí" class="res">
       Sí
      </label>
      <label><input type="radio" name="evidencia_manufacturabilidad" value="No" class="res">
      No
      </label>
      <label><input type="radio" name="evidencia_manufacturabilidad" value="No se" class="res">
        No se
        </label>
      </div>
      <div  id ="div_exploracion" class="input-box">
        <p>¿Ha explorado con mayor profundidad aspectos / certificaciones de manufacturabilidad relacionados con el desarrollo de su invención tecnológica? </p>
        <label>
        <input id="input_exploracion" type="radio" class="res" name="exploracion" value="Sí"  onclick="javascript:activar_desactivar('exploracion');">
         Sí
        </label>
        <label><input id="input_exploracion2" type="radio" class="res" name="exploracion" value="No"   onclick="javascript:activar_desactivar('exploracion');">
        No
        </label>
        <label><input id="input_exploracion3" type="radio" class="res" name="exploracion" value="No se"   onclick="javascript:activar_desactivar('exploracion');">
          No se
          </label>
      </div>
      <div  id="div_evidencia_exploracion" class="input-box">
        <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>
        <label>
        <input type="radio" class="res" name="evidencia_exploracion" value="Sí" >
         Sí
        </label>
        <label><input type="radio" class="res" name="evidencia_exploracion" value="No" >
        No
        </label>
        <label><input type="radio" class="res" name="evidencia_exploracion" value="No se">
          No se
          </label>
      </div>
      <div id="div_aspectos" class="input-box">
        <p>¿Tiene plenamente identificados y considerados aspectos de manufacturabilidad del futuro producto?</p>
        <label>
        <input id="input_aspectos" type="radio" class="res" name="aspectos" value="Sí" required onclick="javascript:activar_desactivar('aspectos');">
         Sí
        </label>
        <label><input id="input_aspectos2" type="radio" class="res" name="aspectos" value="No" required onclick="javascript:activar_desactivar('aspectos');">
        No
        </label>
        <label><input id="input_aspectos3" type="radio" class="res" name="aspectos" value="No se" required onclick="javascript:activar_desactivar('aspectos');">
          No se
          </label>
      </div>
      <div  id="div_evidencia_aspectos" class="input-box">
        <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>        
    <label>
    <input type="radio" class="res" name="evidencia_aspectos" value="Sí" >
     Sí
    </label>
    <label><input type="radio" class="res" name="evidencia_aspectos" value="No" >
    No
    </label>
    <label><input type="radio" class="res" name="evidencia_aspectos" value="No se" >
      No se
      </label>
  </div>
  <div  id ="div_piloto" class="input-box">
    <p>¿Tiene integradas las tecnologías de producto y manufactura en una planta piloto? (considerando todos los aspectos de manufacturabilidad)</p>
    <label>
    <input id="input_piloto" type="radio" class="res" name="piloto" value="Sí" onclick="javascript:activar_desactivar('piloto');">
     Sí
    </label>
    <label><input id="input_piloto2" type="radio" class="res" name="piloto" value="No"  onclick="javascript:activar_desactivar('piloto');">
    No
    </label>
    <label><input id="input_piloto3" type="radio" class="res" name="piloto" value="No se"   onclick="javascript:activar_desactivar('piloto');">
      No se
      </label>
  </div>
  <div  id="div_evidencia_piloto" class="input-box">
    <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>        
<label>
<input type="radio" class="res" name="evidencia_piloto" value="Sí" >
 Sí
</label>
<label><input type="radio" class="res" name="evidencia_piloto" value="No" >
No
</label>
<label><input type="radio" class="res" name="evidencia_piloto" value="No se" >
  No se
  </label>
</div>
<div  id ="div_producto_comercializable" class="input-box">
    <p>¿Cuenta con un proceso de manufactura operacional en baja escala? (produciendo productos comerciales)</p>
    <label>
    <input id="input_producto" type="radio" class="res" name="producto" value="Sí" required onclick="javascript:activar_desactivar('producto');">
     Sí
    </label>
    <label><input id="input_producto2" type="radio" class="res" name="producto" value="No" required  onclick="javascript:activar_desactivar('producto');">
    No
    </label>
    <label><input id="input_producto3" type="radio" class="res" name="producto" value="No se" required  onclick="javascript:activar_desactivar('producto');">
      No se
      </label>
  </div>
  <div  id="div_evidencia_producto" class="input-box">
    <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>        
<label>
<input type="radio" class="res" name="evidencia_producto" value="Sí" >
 Sí
</label>
<label><input type="radio" class="res" name="evidencia_producto" value="No" >
No
</label>
<label><input type="radio" class="res" name="evidencia_producto" value="No se" >
  No se
  </label>
</div>
<div  id ="div_version" class="input-box">
    <p>¿Se encuentra manufacturando el producto en su versión final?</p>
    <label>
    <input id="input_version" type="radio" class="res" name="version" value="Sí"  onclick="javascript:activar_desactivar('version');">
     Sí
    </label>
    <label><input id="input_version2" type="radio" class="res" name="version" value="No"  onclick="javascript:activar_desactivar('version');">
    No
    </label>
    <label><input id="input_version3" type="radio" class="res" name="version" value="No"   onclick="javascript:activar_desactivar('version');">
      No se
      </label>
  </div>
  <div  id="div_evidencia_version" class="input-box">
    <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>        
<label>
<input type="radio" class="res" name="evidencia_version" value="Sí" >
 Sí
</label>
<label><input type="radio" class="res" name="evidencia_version" value="No">
No
</label>
<label><input type="radio" class="res" name="evidencia_version" value="No se">
  No se
  </label>
</div>
<div  id ="div_procesos_manufactura" class="input-box">
    <p>¿Los procesos de manufactura y producción son optimizados a través de innovaciones incrementales?</p>
    <label>
    <input id="input_procesos" type="radio" class="res" name="procesos" value="Sí" onclick="javascript:activar_desactivar('procesos');">
     Sí
    </label>
    <label><input id="input_procesos2" type="radio" class="res" name="procesos" value="No"  onclick="javascript:activar_desactivar('procesos');">
    No
    </label>
    <label><input id="input_procesos3" type="radio" class="res" name="procesos" value="No se" onclick="javascript:activar_desactivar('procesos');">
      No se
      </label>
  </div>
  <div  id="div_evidencia_procesos" class="input-box">
    <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>        
<label>
<input type="radio" class="res" name="evidencia_procesos" value="Sí">
 Sí
</label>
<label><input type="radio" class="res" name="evidencia_procesos" value="No">
No
</label>
  <label><input type="radio" class="res" name="evidencia_procesos" value="No se">
    No se
    </label>
</div>

  <button type="submit" class="btn">Registrar</button>
    </form>
  </div>
  
  </div>
<img src="https://media.discordapp.net/attachments/713043245214597160/1084673488591265792/hourglass.png?width=413&height=413" class="img"> 

<script>
  function activar_desactivar(dato){
  switch(dato){
  case "manufacturabilidad":
  if(document.getElementById('input_manufacturabilidad').checked){
    document.getElementById('div_evidencia').style.display="block";
    document.getElementById('div_exploracion').style.display="block";
  }
  else{
    if(document.getElementById('input_investigacion1').checked || document.getElementById('input_investigacion2').checked){
    document.getElementById('div_evidencia').style.display="none";
    document.getElementById('div_exploracion').style.display="none";
  }
  }
  break;
  case "exploracion":
  if(document.getElementById('input_exploracion').checked){
    document.getElementById('div_evidencia_exploracion').style.display="block";
  }
  else{
    if(document.getElementById('input_principios2').checked || document.getElementById('input_principios3').checked ){
    document.getElementById('div_evidencia_exploracion').style.display="none";
  }
  }
  break;
  case "aspectos":
    if(document.getElementById('input_aspectos').checked){
      document.getElementById('div_evidencia_aspectos').style.display="block";
      document.getElementById('div_piloto').style.display="block";
      
    }
    else{
      if(document.getElementById('input_aspectos2').checked || document.getElementById('input_aspectos3').checked){
      document.getElementById('div_evidencia_aspectos').style.display="none";
      document.getElementById('div_piloto').style.display="none";
    }
    }
    break;

    case "piloto":
    if(document.getElementById('input_piloto').checked){
      document.getElementById('div_evidencia_piloto').style.display="block";
      
    }
    else{
      if(document.getElementById('input_piloto2').checked || document.getElementById('input_piloto3').checked){
      document.getElementById('div_evidencia_piloto').style.display="none";
       }
    }
    break;
  
    case "producto":
    if(document.getElementById('input_producto').checked){
      document.getElementById('div_evidencia_producto').style.display="block";
      document.getElementById('div_version').style.display="block";
      document.getElementById('div_procesos_manufactura').style.display="block";
      
    }
    else{
      if(document.getElementById('input_producto2').checked || document.getElementById('input_producto3').checked){
      document.getElementById('div_evidencia_producto').style.display="none";
      document.getElementById('div_version').style.display="none";
      document.getElementById('div_procesos_manufactura').style.display="none";
       }
    }
    break;

    
    case "version":
    if(document.getElementById('input_version').checked){
      document.getElementById('div_evidencia_version').style.display="block";
    }
    else{
      if(document.getElementById('input_version2').checked || document.getElementById('input_version3').checked){
      document.getElementById('div_evidencia_version').style.display="none";
       }
    }
    break;
    case "procesos":
    if(document.getElementById('input_procesos').checked){
      document.getElementById('div_evidencia_procesos').style.display="block";
      
    }
    else{
      if(document.getElementById('input_procesos2').checked || document.getElementById('input_procesos3').checked){
      document.getElementById('div_evidencia_procesos').style.display="none";
       }
    }
    break;

  }
  
  }
  
  </script>



<style>
  .wrapper{
              width: 1100px;
              height: 680px;
              background: transparent;
              border: 8px solid #d49d11;
              position: relative;
              margin: -25px 0 0 -25px;
             
              backdrop-filter: blur(15px);
              box-shadow: 20px 20px 20px 0px rgba(0, 0, 0,.9);
              top:15%;
              left: 8%;
             justify-content: center;
             align-items: center;
             margin-bottom: 10px;
            overflow-y:scroll
    
             
          }
          .wrapper .form-box{
              width: 100%;
              padding: 40px;
              align-items: center;
              text-align: center;
          }
          
          .form-box h2{
            font-size: 2em;
            color: white;
            text-align: center;
  
          }
          #div_evidencia, #div_exploracion, #div_evidencia_exploracion, #div_evidencia_aspectos, #div_piloto{
            display: none;
          }
          #div_evidencia_piloto, #div_version, #div_evidencia_producto, #div_procesos_manufactura, #div_evidencia_version, #div_evidencia_procesos{
            display: none;
          }
           
          .input-box{
            width: 1000px;
     border-radius: 10px;
      background: transparent;
      color: white;
      border-bottom: 2px solid #d49d11;
      border-top: 2px solid #d49d11;
      margin-bottom: 10px;
      text-align: center;         
          }
        .res{
          margin-bottom: 15px;
        }
  
          
          
         
           .input-box p{
      display: flex;
      justify-content: center;
      align-items: center;
              }
    .input-box label{
      display: line;
    position: relative;
    margin-right:10px ;
    
    border-bottom: 2px solid #d49d11;
    margin-bottom: 20px;
    }
    .input-box2 label{
      display: line;
    position: relative;
    left: 30%;
    margin-right:10px ;
    
    border-bottom: 2px solid #d49d11;
    margin-bottom: 20px;
    }
  
    
        
    .btn{
            width: 30%;
            height: 45px;
            background: #162938;
            border: none;
            outline:none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 1em;
            color:#fff;
            font-weight: 500;
            margin-top: 10px;
            align-items: center;
            text-align: center;
            
           
          }
          .img{
            position: absolute;
            top: 110%;
            right:5% ;
            width: 120px;
          }
          
      </style>
           
      

 
 


{%endblock body%}