{% extends 'base.html'%}
{% block title %} Normatividad {% endblock title%}

{%block text%}Llene las siguientes preguntas{%endblock text%}
{% block body%}
<div class="wrapper">
  <div class="form-box login">
    <h2>Normatividad y Lesgilación Aplicable</h2>
    <form action="#">
      <div  id ="div_estudio" class="input-box">
        <p>¿Ha realizado un estudio sobre los aspectos regulatorios (comités de ética, normas, ISO´s, y certificaciones) que son requeridos para su invención tecnológica?</p>
        <label>
        <input type="radio" class="res" id="input_estudio" name="estudio" required onclick="javascript:activar_desactivar('estudio');">
         Sí
        </label>
        <label><input type="radio" id="input_estudio2" class="res"  name="estudio" required onclick="javascript:activar_desactivar('estudio');">
        No
        </label>
      </div>
      <div id ="div_evidencia"class="input-box">
        <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>
      <label>
      <input type="radio" name="evidencia_estudio" class="res" required>
       Sí
      </label>
      <label><input type="radio" name="evidencia_estudio" class="res" required>
      No
      </label>
      </div>
      <div  id ="div_prototipo" class="input-box">
        <p>¿El prototipo a escala real cumple con los requisitos de las normas y/o previsiones legales o del medio ambiente del sector?</p>
        <label>
        <input id="input_prototipo" type="radio" class="res" name="prototipo" required onclick="javascript:activar_desactivar('prototipo');">
         Sí
        </label>
        <label><input id="input_prototipo2" type="radio" class="res" name="prototipo" required  onclick="javascript:activar_desactivar('prototipo');">
        No
        </label>
      </div>
      <div  id="div_evidencia_prototipo" class="input-box">
        <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>
        <label>
        <input type="radio" class="res" name="evidencia_prototipo" required>
         Sí
        </label>
        <label><input type="radio" class="res" name="evidencia_prototipo" required>
        No
        </label>
      </div>
      <div id="div_proceso_registro" class="input-box">
        <p>¿Inició el proceso sobre el registro de las certificaciones requeridas por instancias gubernamentales para la producción y despliegue del prototipo?</p>
        <label>
        <input id="input_proceso_registro" type="radio" class="res" name="proceso_registro" required onclick="javascript:activar_desactivar('proceso');">
         Sí
        </label>
        <label><input id="input_proceso_registro2" type="radio" class="res" name="proceso_registro" required onclick="javascript:activar_desactivar('proceso');">
        No
        </label>
      </div>
      <div  id="div_evidencia_proceso_registro" class="input-box">
        <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>        
    <label>
    <input type="radio" class="res" name="evidencia_proceso_registro" required>
     Sí
    </label>
    <label><input type="radio" class="res" name="evidencia_proceso_registro" required>
    No
    </label>
  </div>
  <div id="div_estandares_prototipo" class="input-box" style="position: absolute; top:13.5%; left: 52%;">
    <p>¿Su prototipo cumple con estándares de la industria en cuestión?</p>
    <label>
    <input id="input_estandares_prototipo" type="radio" class="res" name="estandares_prototipo" required onclick="javascript:activar_desactivar('estandares');">
     Sí
    </label>
    <label><input id="input_estandares_prototipo2" type="radio" class="res" name="estandares_prototipo" required onclick="javascript:activar_desactivar('estandares');">
    No
    </label>
  </div>
  <div  id="div_evidencia_estandares_prototipo" class="input-box" style="position: absolute; top:30%; left: 52%;">
    <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>        
<label>
<input type="radio" class="res" name="evidencia_estandares_prototipo" required>
 Sí
</label>
<label><input type="radio" class="res" name="evidencia_estandares_prototipo" required>
No
</label>
</div>

  <button type="submit" class="btn">Registrar</button>
    </form>
  </div>
  
  </div>
<img src="https://media.discordapp.net/attachments/713043245214597160/1082373330776105060/Mi_proyecto.png?width=619&height=413" class="img"> 

<script>
  function activar_desactivar(dato){
  switch(dato){
  case "investigacion":
  if(document.getElementById('input_investigacion').checked){
    document.getElementById('div_evidencia').style.display="block";
    document.getElementById('div_principios').style.display="block";
  }
  else{
    if(document.getElementById('input_investigacion2').checked){
    document.getElementById('div_evidencia').style.display="none";
    document.getElementById('div_principios').style.display="none";
  }
  }
  break;
  case "principios":
  if(document.getElementById('input_principios').checked){
    document.getElementById('div_evidencia_principios').style.display="block";
  }
  else{
    if(document.getElementById('input_principios2').checked){
    document.getElementById('div_evidencia_principios').style.display="none";
  }
  }
  break;
  case "analisis":
    if(document.getElementById('input_analisis').checked){
      document.getElementById('div_evidencia_analisis').style.display="block";
    }
    else{
      if(document.getElementById('input_analisis2')){
      document.getElementById('div_evidencia_analisis').style.display="none";
    }
    }
    break;
  
  }
  
  }
  
  </script>



<style>
.wrapper{
            width: 1100px;
            height: 680px;
            background: transparent;
            border: 8px solid #d49d11;
            position: relative;
            margin: -25px 0 0 -25px;
           
            backdrop-filter: blur(15px);
            box-shadow: 20px 20px 20px 0px rgba(0, 0, 0,.9);
            top:15%;
            left: 8%;
           /*display: flex;
           justify-content: center;
           align-items: center;*/
           margin-bottom: 10px;
  
           
        }
        .wrapper .form-box{
            width: 100%;
            padding: 40px;
        }
        
        .form-box h2{
          font-size: 2em;
          color: white;
          text-align: center;

        }
        #div_evidencia, #div_principios, #div_evidencia_principios, #div_evidencia_analisis{
          display: none;
        }
         
        .input-box{
    width: 500px;
   border-radius: 10px;
    background: transparent;
    color: white;
    border-bottom: 2px solid #d49d11;
    border-top: 2px solid #d49d11;
    margin-bottom: 10px;
                
                
            }
      .res{
        margin-bottom: 15px;
      }

        
        
       
         .input-box p{
    display: flex;
    justify-content: center;
    align-items: center;
            }
  .input-box label{
    display: line;
  position: relative;
  left: 30%;
  margin-right:10px ;
  
  border-bottom: 2px solid #d49d11;
  margin-bottom: 20px;
  }

  
      
        .btn{
          width: 30%;
          height: 45px;
          background: #162938;
          border: none;
          outline:none;
          border-radius: 6px;
          cursor: pointer;
          font-size: 1em;
          color:#fff;
          font-weight: 500;
          margin-top: 10px;
          position: absolute;
          bottom: 48%;
          right:10% ;
          
        }
        .img{
          position: absolute;
          top: 80%;
          left: 60%;
        }
        
    </style>
    

</style>
           
      

 
 


{%endblock body%}

