{%extends 'base.html' %}
{%block title%} Resultados {%endblock title%}
{% block text %} Resultados {%endblock text%}
{%block body %}
<table class="table">
    <thead>
        <tr>
          <th scope="col" style="background-color: var(--sidebar-color); color: white;">Datos</th>
          <th scope="col" style="background-color: #006594; color: white;">Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">No. Diagnostico</th>
          <td style="background-color: white;">{{evaluacion.id}}</td>

        </tr>
        <tr>
          <th scope="row">Nombre del Desarrollador</th>
          <td>{{evaluacion.nombre}}</td>
          
        </tr>
        <tr>
          <th scope="row">Nombre del Proyecto</th>
          <td>{{evaluacion.nombre_proyecto}}</td>
          
        </tr>
        <tr>
          <th scope="row">Institucion/Empresa</th>
          <td>SIEMSA</td>
          
        </tr>
    
  </table>
  <br>
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col" style="background-color: var(--sidebar-color);">Nivel NMT</th>
                  <th scope="col">ID</th>
                  <th scope="col" colspan="2">Resultado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" rowspan="2">1</th>
                  <td>1</td>
                  <td>{{evaluacion.pregunta1_1}}</td>
                  <td><ion-icon name={{iconos.0}} style="background-color:{{colores.0}}; color: white;"></ion-icon></td>
                   
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta1_2}}</td>
                    <td><ion-icon name={{iconos.1}} style="background-color:{{colores.1}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <th scope="row" rowspan="6">2</th>
                    <td>1</td>
                    <td>{{evaluacion.pregunta2_1}}</td>
                    <td><ion-icon name={{iconos.2}} style="background-color:{{colores.2}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta2_2}}</td>
                    <td><ion-icon name={{iconos.3}} style="background-color:{{colores.3}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{evaluacion.pregunta2_3}}</td>
                    <td><ion-icon name={{iconos.4}} style="background-color:{{colores.4}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{evaluacion.pregunta2_4}}</td>
                    <td><ion-icon name={{iconos.5}} style="background-color:{{colores.5}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{evaluacion.pregunta2_5}}</td>
                    <td><ion-icon name={{iconos.6}} style="background-color:{{colores.6}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>{{evaluacion.pregunta2_6}}</td>
                    <td><ion-icon name={{iconos.7}} style="background-color:{{colores.7}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <th scope="row" rowspan="6">3</th>
                    <td>1</td>
                    <td>{{evaluacion.pregunta3_1}}</td>
                    <td><ion-icon name={{iconos.8}} style="background-color:{{colores.8}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta3_2}}</td>
                    <td><ion-icon name={{iconos.9}} style="background-color:{{colores.9}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{evaluacion.pregunta3_3}}</td>
                    <td><ion-icon name={{iconos.10}} style="background-color:{{colores.10}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{evaluacion.pregunta3_4}}</td>
                    <td><ion-icon name={{iconos.11}} style="background-color:{{colores.11}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{evaluacion.pregunta3_5}}</td>
                    <td><ion-icon name={{iconos.12}} style="background-color:{{colores.12}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>{{evaluacion.pregunta3_6}}</td>
                    <td><ion-icon name={{iconos.13}} style="background-color:{{colores.13}}; color: white;"></ion-icon></td>
                </tr>
            
          </table>
      </div>
      <div class="col">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col" style="background-color: var(--sidebar-color);">Nivel NMT</th>
                  <th scope="col">ID</th>
                  <th scope="col" colspan="2">Resultado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" rowspan="8">4</th>
                  <td>1</td>
                  <td>{{evaluacion.pregunta4_1}}</td>
                  <td><ion-icon name={{iconos.14}} style="background-color:{{colores.14}}; color: white;"></ion-icon></td>
        
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta4_2}}</td>
                    <td><ion-icon name={{iconos.15}} style="background-color:{{colores.15}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{evaluacion.pregunta4_3}}</td>
                    <td><ion-icon name={{iconos.16}} style="background-color:{{colores.16}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{evaluacion.pregunta4_4}}</td>
                    <td><ion-icon name={{iconos.17}} style="background-color:{{colores.17}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{evaluacion.pregunta4_5}}</td>
                    <td><ion-icon name={{iconos.18}} style="background-color:{{colores.18}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>6</td>
                    <td>{{evaluacion.pregunta4_6}}</td>
                    <td><ion-icon name={{iconos.19}} style="background-color:{{colores.19}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>7</td>
                    <td>{{evaluacion.pregunta4_7}}</td>
                    <td><ion-icon name={{iconos.20}} style="background-color:{{colores.20}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>8</td>
                    <td>{{evaluacion.pregunta4_8}}</td>
                    <td><ion-icon name={{iconos.21}} style="background-color:{{colores.21}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <th scope="row" rowspan="4">5</th>
                    <td>1</td>
                    <td>{{evaluacion.pregunta5_1}}</td>
                    <td><ion-icon name={{iconos.22}} style="background-color:{{colores.22}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta5_2}}</td>
                    <td><ion-icon name={{iconos.23}} style="background-color:{{colores.23}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{evaluacion.pregunta5_3}}</td>
                    <td><ion-icon name={{iconos.24}} style="background-color:{{colores.24}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{evaluacion.pregunta5_4}}</td>
                    <td><ion-icon name={{iconos.25}} style="background-color:{{colores.25}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <th scope="row" rowspan="5">6</th>
                    <td>1</td>
                    <td>{{evaluacion.pregunta6_1}}</td>
                    <td><ion-icon name={{iconos.26}} style="background-color:{{colores.26}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta6_2}}</td>
                    <td><ion-icon name={{iconos.27}} style="background-color:{{colores.27}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{evaluacion.pregunta6_3}}</td>
                    <td><ion-icon name={{iconos.28}} style="background-color:{{colores.28}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{evaluacion.pregunta6_4}}</td>
                    <td><ion-icon name={{iconos.29}} style="background-color:{{colores.29}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{evaluacion.pregunta6_5}}</td>
                    <td><ion-icon name={{iconos.30}} style="background-color:{{colores.30}}; color: white;"></ion-icon></td>
                </tr>
              
            
          </table>
      </div>
      <div class="col">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col" style="background-color: var(--sidebar-color);">Nivel NMT</th>
                  <th scope="col">ID</th>
                  <th scope="col" colspan="2">Resultado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" rowspan="4">7</th>
                  <td>1</td>
                  <td>{{evaluacion.pregunta7_1}}</td>
                  <td><ion-icon name={{iconos.31}} style="background-color:{{colores.31}}; color: white;"></ion-icon></td>
        
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta7_2}}</td>
                    <td><ion-icon name={{iconos.32}} style="background-color:{{colores.32}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{evaluacion.pregunta7_3}}</td>
                    <td><ion-icon name={{iconos.33}} style="background-color:{{colores.33}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{evaluacion.pregunta7_4}}</td>
                    <td><ion-icon name={{iconos.34}} style="background-color:{{colores.34}}; color: white;"></ion-icon></td>
                  
                </tr>
                
                <tr>
                    <th scope="row" rowspan="5">8</th>
                    <td>1</td>
                    <td>{{evaluacion.pregunta8_1}}</td>
                    <td><ion-icon name={{iconos.35}} style="background-color:{{colores.35}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta8_2}}</td>
                    <td><ion-icon name={{iconos.36}} style="background-color:{{colores.36}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{evaluacion.pregunta8_3}}</td>
                    <td><ion-icon name={{iconos.37}} style="background-color:{{colores.37}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{evaluacion.pregunta8_4}}</td>
                    <td><ion-icon name={{iconos.38}} style="background-color:{{colores.38}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{evaluacion.pregunta8_5}}</td>
                    <td><ion-icon name={{iconos.39}} style="background-color:{{colores.39}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <th scope="row" rowspan="4">9</th>
                    <td>1</td>
                    <td>{{evaluacion.pregunta9_1}}</td>
                    <td><ion-icon name={{iconos.40}} style="background-color:{{colores.40}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta9_2}}</td>
                    <td><ion-icon name={{iconos.41}} style="background-color:{{colores.41}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{evaluacion.pregunta9_3}}</td>
                    <td><ion-icon name={{iconos.42}} style="background-color:{{colores.42}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{evaluacion.pregunta9_4}}</td>
                    <td><ion-icon name={{iconos.43}} style="background-color:{{colores.43}}; color: white;"></ion-icon></td>
                </tr>
          </table>
      </div>
    </div>
  </div>
 
  
  
  <table class="table" style="width:70%">
    <thead>
        <tr>
          <th scope="col" style="width: 200px; height: 70px;" >Nivel General NMT</th>
          <th scope="col" style="width: 200px; height: 70px;">{{evaluacion.promedio_trl_global}}</th>
          <th scope="col"  rowspan="4" style="background-color: var(--sidebar-color); width: 200px; height: 70px;">estatus</th>
        </tr>
      </thead>
  </table><br>
  <table class="table">
    <thead>
        <tr>
          <th scope="col" colspan="2" style="background-color: var(--sidebar-color);" >Investigacion</th>
          <th scope="col">58%</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="rows" colspan="2">conclusion investigacion</th>

        </tr>
        <tr>
            <th scope="rows" colspan="2">1.1</th>
            <th scope="rows" colspan="2">100%</th>
            <th scope="rows" colspan="2">conclusion pregunta</th>
  
          </tr>
  </table><br>
  <table class="table">
    <thead>
        <tr>
          <th scope="col" colspan="2" style="background-color: var(--sidebar-color);" >Investigacion</th>
          <th scope="col">58%</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="rows" colspan="2">conclusion investigacion</th>

        </tr>
        <tr>
            <th scope="rows" colspan="2">1.1</th>
            <th scope="rows" colspan="2">100%</th>
            <th scope="rows" colspan="2">conclusion pregunta</th>
  
          </tr>
  </table><br>
  {%endblock body%}