{%extends 'base.html' %}
{%block title%} Resultados {%endblock title%}
{% block text %} Resultados {%endblock text%}
{%block body %}
<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col" style="background-color: var(--sidebar-color); color: white;">Datos</th>
          <th scope="col" style="background-color: #006594; color: white;">Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">No. Diagnostico</th>
          <td style="background-color: white;">1</td>

        </tr>
        <tr>
          <th scope="row">Nombre del Desarrollador</th>
          <td>Sergio M</td>
          
        </tr>
        <tr>
          <th scope="row">Nombre del Proyecto</th>
          <td>Cortadora de Papas</td>
          
        </tr>
        <tr>
          <th scope="row">Institucion/Empresa</th>
          <td>SIEMSA</td>
          
        </tr>
    
  </table>
  <br>
  <table class="table table-hover">
    <thead>
        <tr>
          <th scope="col" style="background-color: var(--sidebar-color);">Nivel NMT</th>
          <th scope="col">ID</th>
          <th scope="col" colspan="2">Resultado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" rowspan="2">1</th>
          <td>1</td>
          <td>20%</td>
          <td><ion-icon name="checkbox-outline" style="background-color:green; color: white;"></ion-icon></td>

        </tr>
        <tr>
            <td>2</td>
            <td>40%</td>
            <td><ion-icon name="checkbox-outline" style="background-color:green; color: white;"></ion-icon></td>
          
        </tr>
        <tr>
            <th scope="row" rowspan="6">2</th>
            <td>1</td>
            <td>20%</td>
            <td><ion-icon name="checkbox-outline" style="background-color:green; color: white;"></ion-icon></td>
          
        </tr>
        <tr>
          <th scope="row">Institucion/Empresa</th>
          <td>SIEMSA</td>
          <td>Mark</td>
          
        </tr>
    
  </table><br>
  <table class="table table-hover">
    <thead>
        <tr>
          <th scope="col" style="width: 200px; height: 70px;" >Nivel General NMT</th>
          <th scope="col" style="width: 200px; height: 70px;">3.7</th>
          <th scope="col"  rowspan="4" style="background-color: var(--sidebar-color); width: 200px; height: 70px;">Resultado</th>
        </tr>
      </thead>
  </table><br>
  <table class="table table-hover">
    <thead>
        <tr>
          <th scope="col" style="background-color: var(--sidebar-color);" >Investigacion</th>
          <th scope="col">58%</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">No. Diagnostico</th>

        </tr>
  </table><br>

<figure class="highcharts-figure"> <div id="first"></div></figure>

  <div id="second"></div>

  <div id="third"></div>



<script>
  Highcharts.chart('first', {
  
  chart: {
    type: 'gauge',
    plotBackgroundColor: null,
    plotBackgroundImage: null,
    plotBorderWidth: 0,
    plotShadow: false,
    height: '80%'
  },
  
  title: {
    text: 'Nivel de Madurez Tecnológica'
  },
  
  pane: {
    startAngle: -90,
    endAngle: 89.9,
    background: null,
    center: ['50%', '75%'],
    size: '110%'
  },
  
  // the value axis
  yAxis: {
    min: 0,
    max: 9,
    tickPixelInterval: 72,
    tickPosition: 'inside',
    tickColor: Highcharts.defaultOptions.chart.backgroundColor || '#FFFFFF',
    tickLength: 20,
    tickWidth: 2,
    minorTickInterval: null,
    labels: {
      distance: 20,
      style: {
        fontSize: '14px'
      }
    },
    plotBands: [{
      from: 0,
      to: 3.5,
      color: '#55BF3B', // green
      thickness: 20
    }, {
      from: 3.5,
      to: 7.5,
      color: '#DDDF0D', // yellow
      thickness: 20
    }, {
      from: 7.5,
      to: 9,
      color: '#DF5353', // red
      thickness: 20
    }]
  },
  
  series: [{
    name: 'Speed',
    data: [8],
    tooltip: {
      valueSuffix: ' km/h'
    },
    dataLabels: {
      format: '{y}',
      borderWidth: 0,
      color: (
        Highcharts.defaultOptions.title &&
        Highcharts.defaultOptions.title.style &&
        Highcharts.defaultOptions.title.style.color
      ) || '#333333',
      style: {
        fontSize: '16px'
      }
    },
    dial: {
      radius: '80%',
      backgroundColor: 'gray',
      baseWidth: 12,
      baseLength: '0%',
      rearLength: '0%'
    },
    pivot: {
      backgroundColor: 'gray',
      radius: 6
    }
  
  }]
  
  });//Termina container 1
  
  //Empieza container 2
  Highcharts.chart('second', {
  
  chart: {
      type: 'solidgauge',
      height: '150%',
      
      //backgroundColor: 'transparent',
      events: {
          
      }
  },
  
  title: {
      text: 'Activity',
      style: {
          fontSize: '24px'
      }
  },
  
  tooltip: {
      borderWidth: 0,
      backgroundColor: 'none',
      shadow: false,
      style: {
          fontSize: '16px'
      },
      valueSuffix: '%',
      pointFormat: '{series.name}<br><span style="font-size:2em; color: {point.color}; font-weight: bold">{point.y}</span>',
      positioner: function (labelWidth) {
          return {
              x: (this.chart.chartWidth - labelWidth) / 2,
              y: (this.chart.plotHeight / 2) + 15
          };
      }
  },
  
  pane: {
      startAngle: 0,
      endAngle: 360,
      background: [{ // Track for Investigacion
          outerRadius: '120%',
          innerRadius: '100%',
          backgroundColor: Highcharts.color(Highcharts.getOptions().colors[0])
              .setOpacity(0.3)
              .get(),
          borderWidth: 0
      }, { // Track for Desarrollo
          outerRadius: '110%',
          innerRadius: '90%',
          backgroundColor: Highcharts.color(Highcharts.getOptions().colors[1])
              .setOpacity(0.3)
              .get(),
          borderWidth: 0
      }, { // Track for Integracion
          outerRadius: '100%',
          innerRadius: '80%',
          backgroundColor: Highcharts.color(Highcharts.getOptions().colors[2])
              .setOpacity(0.3)
              .get(),
          borderWidth: 0
      }, 
      { // Track for Propiedad
          outerRadius: '90%',
          innerRadius: '70%',
          backgroundColor: Highcharts.color(Highcharts.getOptions().colors[3])
              .setOpacity(0.3)
              .get(),
          borderWidth: 0
      },
      { // Track for Normatividad
          outerRadius: '80%',
          innerRadius: '60%',
          backgroundColor: Highcharts.color(Highcharts.getOptions().colors[4])
              .setOpacity(0.3)
              .get(),
          borderWidth: 0
      },
      { // Track for Manufactura
          outerRadius: '70%',
          innerRadius: '50%',
          backgroundColor: Highcharts.color(Highcharts.getOptions().colors[5])
              .setOpacity(0.3)
              .get(),
          borderWidth: 0
      },
      { // Track for Usuarios
          outerRadius: '60%',
          innerRadius: '40%',
          backgroundColor: Highcharts.color(Highcharts.getOptions().colors[6])
              .setOpacity(0.3)
              .get(),
          borderWidth: 0
      },
      { // Track for Usuarios
        outerRadius: '60%',
        innerRadius: '40%',
        backgroundColor: Highcharts.color(Highcharts.getOptions().colors[6])
            .setOpacity(0.3)
            .get(),
        borderWidth: 0
    },
      ]
  },
  
  yAxis: {
      min: 0,
      max: 100,
      lineWidth: 0,
      tickPositions: []
  },
  
  plotOptions: {
      solidgauge: {
          dataLabels: {
              enabled: false
          },
          linecap: 'round',
          stickyTracking: false,
          rounded: true
      }
  },
  
  series: [{
      name: 'Investigacion',
      data: [{
          color: Highcharts.getOptions().colors[0],
          radius: '120%',
          innerRadius: '110%',
          y: {{evaluacion.promedio_investigacion}}
      }]
  }, {
      name: 'Desarrollo',
      data: [{
          color: Highcharts.getOptions().colors[1],
          radius: '110%',
          innerRadius: '100%',
          y: {{evaluacion.promedio_desarrollo}}
      }]
  }, {
      name: 'Integracion',
      data: [{
          color: Highcharts.getOptions().colors[2],
          radius: '100%',
          innerRadius: '90%',
          y: {{evaluacion.promedio_integracion}}
      }]
  },
  {
      name: 'Propiedad Intelectual',
      data: [{
          color: Highcharts.getOptions().colors[3],
          radius: '90%',
          innerRadius: '80%',
          y: {{evaluacion.promedio_propiedad}}
      }]
  },
  {
      name: 'Normatividad',
      data: [{
          color: Highcharts.getOptions().colors[4],
          radius: '80%',
          innerRadius: '70%',
          y: {{evaluacion.promedio_normatividad}}
      }]
  },
   {
      name: 'Manufactura',
      data: [{
          color: Highcharts.getOptions().colors[5],
          radius: '70%',
          innerRadius: '60%',
          y: {{evaluacion.promedio_manufactura}}
      }]
  },
  {
      name: 'Usuarios del Producto',
      data: [{
          color: Highcharts.getOptions().colors[6],
          radius: '60%',
          innerRadius: '50%',
          y: {{evaluacion.promedio_usuarios}}
      }]
  },
  {
      name: 'Aspectos Organizativos',
      data: [{
          color: Highcharts.getOptions().colors[7],
          radius: '50%',
          innerRadius: '40%',
          y: {{evaluacion.promedio_aspectos}}
      }]
  },
  
  
  ]
  });
  //Empieza Tercer Chart
  
  Highcharts.chart('third', {
      chart: {
          type: 'cylinder',
          options3d: {
              enabled: true,
              alpha: 5,
              beta: 5,
              depth: 50,
              viewDistance: 25
          }
      },
      title: {
          text: 'Promedios por Nivel de NMT'
      },
      subtitle: {
          text: 'Source: ' +
              '<a href="https://www.fhi.no/en/id/infectious-diseases/coronavirus/daily-reports/daily-reports-COVID19/"' +
              'target="_blank">FHI</a>'
      },
      xAxis: {
          categories: ['NMT 1', 'NMT 2', 'NMT 3', 'NMT 4', 'NMT 5', 'NMT 6', 'NMT 7', 'NMT 8', 'NMT 9'],
          title: {
              text:''
          }
      },
      yAxis: {
          title: {
              margin: 20,
              text: ''
          }
      },
      tooltip: {
          headerFormat: ''
      },
      plotOptions: {
          series: {
              depth: 25,
              colorByPoint: true
          }
      },
      series: [{
          data: [{{evaluacion.promedio_trl1}}, {{evaluacion.promedio_trl2}}, {{evaluacion.promedio_trl3}}, {{evaluacion.promedio_trl4}},
           {{evaluacion.promedio_trl5}}, {{evaluacion.promedio_trl6}}, {{evaluacion.promedio_trl7}}, {{evaluacion.promedio_trl8}}, {{evaluacion.promedio_trl9}}],
          name: 'Nivel NMT',
          showInLegend: false
      }]
  });
  
  
  </script>
  <style>
      .table{
          position: relative;
          left: 5%;
      }
      .table th{
          background-color: #006594;
          color: white;
      }
      .table td{
          background-color: white;
      }
      .third{
          height: 400px;
          width: 50px;
      }
  .third .highcharts-data-table table {
      min-width: 310px;
      max-width: 800px;
      margin: 1em auto;
  }  
  .second{
      max-width: 400px;
      margin: 0 auto;
  } 
  .first .highcharts-data-table table {
      min-width: 310px;
      max-width: 500px;
      margin: 1em auto;
  }
  
  .highcharts-figure,.highcharts-data-table table {
      min-width: 780px;
      max-width: 5000px;
      margin: 0 auto;
  }
  
  .highcharts-data-table table {
      font-family: Verdana, sans-serif;
      border-collapse: collapse;
      border: 1px solid #ebebeb;
      margin: 10px auto;
      text-align: center;
      width: 100%;
      max-width: 500px;
  }
  
  .highcharts-data-table caption {
      padding: 1em 0;
      font-size: 1.2em;
      color: #555;
  }
  
  .highcharts-data-table th {
      font-weight: 600;
      padding: 0.5em;
  }
  
  .highcharts-data-table td,
  .highcharts-data-table th,
  .highcharts-data-table caption {
      padding: 0.5em;
  }
  
  .highcharts-data-table thead tr,
  .highcharts-data-table tr:nth-child(even) {
      background: #f8f8f8;
  }
  
  .highcharts-data-table tr:hover {
      background: #f1f7ff;
  }
  </style>
{%endblock body%}