{%block title%} Resultados {%endblock title%}
{% block text %} Resultados {%endblock text%}
{%block body %}
<table class="table">
    <thead>
        <tr>
          <th scope="col" style="background-color: var(--sidebar-color); color: white;">Datos</th>
          <th scope="col" style="background-color: #006594; color: white;">Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">No. Diagnostico</th>
          <td style="background-color: white;">{{evaluacion.id}}</td>

        </tr>
        <tr>
          <th scope="row">Nombre del Desarrollador</th>
          <td>{{evaluacion.nombre}}</td>
          
        </tr>
        <tr>
          <th scope="row">Nombre del Proyecto</th>
          <td>{{evaluacion.nombre_proyecto}}</td>
          
        </tr>
        <tr>
          <th scope="row">Institucion/Empresa</th>
          <td>{{evaluacion.institucion}}</td>
          
        </tr>
    
  </table>
  <br>
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col" style="background-color: var(--sidebar-color);">Nivel NMT</th>
                  <th scope="col">ID</th>
                  <th scope="col" colspan="2">Resultado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" rowspan="2">1</th>
                  <td>1</td>
                  <td>{{evaluacion.pregunta1_1}}</td>
                  <td><ion-icon name={{iconos.0}} style="background-color:{{colores.0}}; color: white;"></ion-icon></td>
                   
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta1_2}}</td>
                    <td><ion-icon name={{iconos.1}} style="background-color:{{colores.1}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <th scope="row" rowspan="6">2</th>
                    <td>1</td>
                    <td>{{evaluacion.pregunta2_1}}</td>
                    <td><ion-icon name={{iconos.2}} style="background-color:{{colores.2}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta2_2}}</td>
                    <td><ion-icon name={{iconos.3}} style="background-color:{{colores.3}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{evaluacion.pregunta2_3}}</td>
                    <td><ion-icon name={{iconos.4}} style="background-color:{{colores.4}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{evaluacion.pregunta2_4}}</td>
                    <td><ion-icon name={{iconos.5}} style="background-color:{{colores.5}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{evaluacion.pregunta2_5}}</td>
                    <td><ion-icon name={{iconos.6}} style="background-color:{{colores.6}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>{{evaluacion.pregunta2_6}}</td>
                    <td><ion-icon name={{iconos.7}} style="background-color:{{colores.7}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <th scope="row" rowspan="6">3</th>
                    <td>1</td>
                    <td>{{evaluacion.pregunta3_1}}</td>
                    <td><ion-icon name={{iconos.8}} style="background-color:{{colores.8}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta3_2}}</td>
                    <td><ion-icon name={{iconos.9}} style="background-color:{{colores.9}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{evaluacion.pregunta3_3}}</td>
                    <td><ion-icon name={{iconos.10}} style="background-color:{{colores.10}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{evaluacion.pregunta3_4}}</td>
                    <td><ion-icon name={{iconos.11}} style="background-color:{{colores.11}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{evaluacion.pregunta3_5}}</td>
                    <td><ion-icon name={{iconos.12}} style="background-color:{{colores.12}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>{{evaluacion.pregunta3_6}}</td>
                    <td><ion-icon name={{iconos.13}} style="background-color:{{colores.13}}; color: white;"></ion-icon></td>
                </tr>
            
          </table>
      </div>
      <div class="col">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col" style="background-color: var(--sidebar-color);">Nivel NMT</th>
                  <th scope="col">ID</th>
                  <th scope="col" colspan="2">Resultado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" rowspan="8">4</th>
                  <td>1</td>
                  <td>{{evaluacion.pregunta4_1}}</td>
                  <td><ion-icon name={{iconos.14}} style="background-color:{{colores.14}}; color: white;"></ion-icon></td>
        
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta4_2}}</td>
                    <td><ion-icon name={{iconos.15}} style="background-color:{{colores.15}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{evaluacion.pregunta4_3}}</td>
                    <td><ion-icon name={{iconos.16}} style="background-color:{{colores.16}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{evaluacion.pregunta4_4}}</td>
                    <td><ion-icon name={{iconos.17}} style="background-color:{{colores.17}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{evaluacion.pregunta4_5}}</td>
                    <td><ion-icon name={{iconos.18}} style="background-color:{{colores.18}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>6</td>
                    <td>{{evaluacion.pregunta4_6}}</td>
                    <td><ion-icon name={{iconos.19}} style="background-color:{{colores.19}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>7</td>
                    <td>{{evaluacion.pregunta4_7}}</td>
                    <td><ion-icon name={{iconos.20}} style="background-color:{{colores.20}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>8</td>
                    <td>{{evaluacion.pregunta4_8}}</td>
                    <td><ion-icon name={{iconos.21}} style="background-color:{{colores.21}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <th scope="row" rowspan="4">5</th>
                    <td>1</td>
                    <td>{{evaluacion.pregunta5_1}}</td>
                    <td><ion-icon name={{iconos.22}} style="background-color:{{colores.22}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta5_2}}</td>
                    <td><ion-icon name={{iconos.23}} style="background-color:{{colores.23}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{evaluacion.pregunta5_3}}</td>
                    <td><ion-icon name={{iconos.24}} style="background-color:{{colores.24}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{evaluacion.pregunta5_4}}</td>
                    <td><ion-icon name={{iconos.25}} style="background-color:{{colores.25}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <th scope="row" rowspan="7">6</th>
                    <td>00</td>
                    <td>{{evaluacion.pregunta6_1}}</td>
                    <td><ion-icon name={{iconos.26}} style="background-color:{{colores.26}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                  <td>0</td>
                  <td>{{evaluacion.pregunta6_2}}</td>
                  <td><ion-icon name={{iconos.27}} style="background-color:{{colores.27}}; color: white;"></ion-icon></td>
              </tr>
                <tr>
                  <td>1</td>
                  <td>{{evaluacion.pregunta6_2}}</td>
                  <td><ion-icon name={{iconos.28}} style="background-color:{{colores.28}}; color: white;"></ion-icon></td>
              </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta6_2}}</td>
                    <td><ion-icon name={{iconos.29}} style="background-color:{{colores.29}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{evaluacion.pregunta6_3}}</td>
                    <td><ion-icon name={{iconos.30}} style="background-color:{{colores.30}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{evaluacion.pregunta6_4}}</td>
                    <td><ion-icon name={{iconos.31}} style="background-color:{{colores.31}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{evaluacion.pregunta6_5}}</td>
                    <td><ion-icon name={{iconos.32}} style="background-color:{{colores.32}}; color: white;"></ion-icon></td>
                </tr>
              
            
          </table>
      </div>
      <div class="col">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col" style="background-color: var(--sidebar-color);">Nivel NMT</th>
                  <th scope="col">ID</th>
                  <th scope="col" colspan="2">Resultado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" rowspan="5">7</th>
                  <td>0</td>
                  <td>{{evaluacion.pregunta7_1}}</td>
                  <td><ion-icon name={{iconos.33}} style="background-color:{{colores.33}}; color: white;"></ion-icon></td>
        
                </tr>
                <tr>
                  <td>1</td>
                  <td>{{evaluacion.pregunta7_2}}</td>
                  <td><ion-icon name={{iconos.34}} style="background-color:{{colores.34}}; color: white;"></ion-icon></td>
                
              </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta7_2}}</td>
                    <td><ion-icon name={{iconos.35}} style="background-color:{{colores.35}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{evaluacion.pregunta7_3}}</td>
                    <td><ion-icon name={{iconos.36}} style="background-color:{{colores.36}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{evaluacion.pregunta7_4}}</td>
                    <td><ion-icon name={{iconos.37}} style="background-color:{{colores.37}}; color: white;"></ion-icon></td>
                  
                </tr>
                
                <tr>
                    <th scope="row" rowspan="5">8</th>
                    <td>1</td>
                    <td>{{evaluacion.pregunta8_1}}</td>
                    <td><ion-icon name={{iconos.38}} style="background-color:{{colores.38}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta8_2}}</td>
                    <td><ion-icon name={{iconos.39}} style="background-color:{{colores.39}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{evaluacion.pregunta8_3}}</td>
                    <td><ion-icon name={{iconos.40}} style="background-color:{{colores.40}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{evaluacion.pregunta8_4}}</td>
                    <td><ion-icon name={{iconos.41}} style="background-color:{{colores.41}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{evaluacion.pregunta8_5}}</td>
                    <td><ion-icon name={{iconos.42}} style="background-color:{{colores.42}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <th scope="row" rowspan="4">9</th>
                    <td>1</td>
                    <td>{{evaluacion.pregunta9_1}}</td>
                    <td><ion-icon name={{iconos.43}} style="background-color:{{colores.43}}; color: white;"></ion-icon></td>
                  
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{evaluacion.pregunta9_2}}</td>
                    <td><ion-icon name={{iconos.44}} style="background-color:{{colores.44}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{evaluacion.pregunta9_3}}</td>
                    <td><ion-icon name={{iconos.45}} style="background-color:{{colores.45}}; color: white;"></ion-icon></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{evaluacion.pregunta9_4}}</td>
                    <td><ion-icon name={{iconos.46}} style="background-color:{{colores.46}}; color: white;"></ion-icon></td>
                </tr>
          </table>
      </div>
    </div>
  </div>
 
  
  
  <table class="table" style="width:70%">
    <thead>
        <tr>
          <th scope="col" style="width: 200px; height: 70px;" >Nivel General NMT</th>
          <th scope="col" style="width: 200px; height: 70px;">{{evaluacion.promedio_trl_global}}</th>
          <th scope="col"  rowspan="4" style="background-color: var(--sidebar-color); width: 200px; height: 70px;">estatus</th>
        </tr>
      </thead>
  </table><br>
  <p>conclusiones</p>
  <table class="table" style="position: relative;
  left: 2.5%;">
    <thead>
        <tr>
          <th scope="col"  style="background-color: var(--sidebar-color);" >Área</th>
          <th scope="col">Promedio</th>
          <th scope="col">Conclusion</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="row"  style="background-color: var(--sidebar-color);" >Investigación</th>
            <td >{{evaluacion.promedio_investigacion}}</td>
            <td >{{conclusiones.conclusion_investigacion}}</td>

        </tr>
        <tr>
            <th scope="row"  style="background-color: var(--sidebar-color);" >Desarrollo</th>
            <td >{{evaluacion.promedio_desarrollo}}</td>
            <td >{{conclusiones.conclusion_desarrollo}}</td>
  
          </tr>
          <tr>
            <th scope="row"  style="background-color: var(--sidebar-color);" >Integración Tecnológica</th>
            <td >{{evaluacion.promedio_integracion}}</td>
            <td >{{conclusiones.conclusion_integracion}}</td>
  
          </tr>
          <tr>
            <th scope="row"  style="background-color: var(--sidebar-color);" >Propiedad Intelectual</th>
            <td >{{evaluacion.promedio_propiedad}}</td>
            <td >{{conclusiones.conclusion_propiedad}}</td>
  
          </tr>
          <tr>
            <th scope="row"  style="background-color: var(--sidebar-color);" >Normatividad y Legislación Aplicable</th>
            <td >{{evaluacion.promedio_normatividad}}</td>
            <td >{{conclusiones.conclusion_normatividad}}</td>
          </tr>
          <tr>
            <th scope="row"  style="background-color: var(--sidebar-color);" >Manufactura</th>
            <td >{{evaluacion.promedio_manufactura}}</td>
            <td >{{conclusiones.conclusion_manufactura}}</td>
  
          </tr>
          <tr>
         <th scope="row"  style="background-color: var(--sidebar-color);" >Usuarios del Producto</th>
         <td >{{evaluacion.promedio_usuarios}}</td>
         <td >{{conclusiones.conclusion_usuarios}}</td>
          </tr>
          <tr>
            <th scope="row"  style="background-color: var(--sidebar-color);" >Aspectos Organizativos</th>
            <td >{{evaluacion.promedio_aspectos}}</td>
            <td >{{conclusiones.conclusion_aspectos}}</td>
             </tr>
  </table><br>
  <table class="table">
    <thead>
        <tr>
          <th scope="col" colspan="3" style="background-color: var(--sidebar-color);" >Investigacion</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="rows" style="background-color:#183554" >ID</th>
          <td style="background-color:#183554; color:white">Cumplimiento</td>
          <td style="background-color:#183554; color:white">Recomendación</td>

        </tr>
        <tr>
            <th scope="rows">1.1</th>
            <td>{{evaluacion.pregunta1_1}}</td>
          <td>{{recomendaciones.0}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">1.2</th>
            <td>{{evaluacion.pregunta1_2}}</td>
          <td>{{recomendaciones.1}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">2.1</th>
            <td>{{evaluacion.pregunta2_1}}</td>
          <td>{{recomendaciones.2}}</td>
            
  
          </tr>
  </table><br>
  <table class="table">
    <thead>
        <tr>
          <th scope="col" colspan="3" style="background-color: var(--sidebar-color);" >Desarrollo</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="rows" style="background-color:#183554" >ID</th>
          <td style="background-color:#183554; color:white">Cumplimiento</td>
          <td style="background-color:#183554; color:white">Recomendación</td>

        </tr>
        <tr>
            <th scope="rows">4.2</th>
            <td>{{evaluacion.pregunta4_2}}</td>
          <td>{{recomendaciones.3}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">4.5</th>
            <td>{{evaluacion.pregunta4_5}}</td>
          <td>{{recomendaciones.4}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">5.1</th>
            <td>{{evaluacion.pregunta2_1}}</td>
          <td>{{recomendaciones.5}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">6.0</th>
            <td>{{evaluacion.pregunta6}}</td>
          <td>{{recomendaciones.6}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">7.4</th>
            <td>{{evaluacion.pregunta7_4}}</td>
          <td>{{recomendaciones.7}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">8.2</th>
            <td>{{evaluacion.pregunta6}}</td>
          <td>{{recomendaciones.8}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">9.1</th>
            <td>{{evaluacion.pregunta6}}</td>
          <td>{{recomendaciones.9}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">9.3</th>
            <td>{{evaluacion.pregunta6}}</td>
          <td>{{recomendaciones.10}}</td>
            
  
          </tr>
  </table><br>
  
  <table class="table">
    <thead>
        <tr>
          <th scope="col" colspan="3" style="background-color: var(--sidebar-color);" >Integracion Tecnologica</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="rows" style="background-color:#183554" >ID</th>
          <td style="background-color:#183554; color:white">Cumplimiento</td>
          <td style="background-color:#183554; color:white">Recomendación</td>

        </tr>
        <tr>
            <th scope="rows">2.5</th>
            <td>{{evaluacion.pregunta2_5}}</td>
          <td>{{recomendaciones.11}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">3.1</th>
            <td>{{evaluacion.pregunta3_1}}</td>
          <td>{{recomendaciones.12}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">4.1</th>
            <td>{{evaluacion.pregunta4_1}}</td>
          <td>{{recomendaciones.13}}</td>
  </table><br>

  <table class="table">
    <thead>
        <tr>
          <th scope="col" colspan="3" style="background-color: var(--sidebar-color);" >Propiedad Intelectual</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="rows" style="background-color:#183554" >ID</th>
          <td style="background-color:#183554; color:white">Cumplimiento</td>
          <td style="background-color:#183554; color:white">Recomendación</td>

        </tr>
        <tr>
            <th scope="rows">2.2</th>
            <td>{{evaluacion.pregunta2_2}}</td>
          <td>{{recomendaciones.14}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">3.3</th>
            <td>{{evaluacion.pregunta3_3}}</td>
          <td>{{recomendaciones.15}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">4.7</th>
            <td>{{evaluacion.pregunta4_7}}</td>
          <td>{{recomendaciones.16}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">5.4</th>
            <td>{{evaluacion.pregunta5_4}}</td>
          <td>{{recomendaciones.17}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">3.4</th>
            <td>{{evaluacion.pregunta3_4}}</td>
          <td>{{recomendaciones.18}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">2.6</th>
            <td>{{evaluacion.pregunta2_6}}</td>
          <td>{{recomendaciones.19}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">3.6</th>
            <td>{{evaluacion.pregunta3_6}}</td>
          <td>{{recomendaciones.20}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">4.8</th>
            <td>{{evaluacion.pregunta4_8}}</td>
          <td>{{recomendaciones.21}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">6.00</th>
            <td>{{evaluacion.pregunta6}}</td>
          <td>{{recomendaciones.21}}</td>
            
  
          </tr>          
          <tr>
            <th scope="rows">7.0</th>
            <td>{{evaluacion.pregunta7}}</td>
          <td>{{recomendaciones.22}}</td>
            
  
          </tr>
  </table><br>

  <table class="table">
    <thead>
        <tr>
          <th scope="col" colspan="3" style="background-color: var(--sidebar-color);" >Normatividad y Legislación Aplicada</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="rows" style="background-color:#183554" >ID</th>
          <td style="background-color:#183554; color:white">Cumplimiento</td>
          <td style="background-color:#183554; color:white">Recomendación</td>

        </tr>
        <tr>
            <th scope="rows">3.5</th>
            <td>{{evaluacion.pregunta3_5}}</td>
          <td>{{recomendaciones.23}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">5.3</th>
            <td>{{evaluacion.pregunta5_3}}</td>
          <td>{{recomendaciones.24}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">6.5</th>
            <td>{{evaluacion.pregunta6_5}}</td>
          <td>{{recomendaciones.25}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">8.4</th>
            <td>{{evaluacion.pregunta8_4}}</td>
          <td>{{recomendaciones.26}}</td>
          </tr>
  </table><br>

  <table class="table">
    <thead>
        <tr>
          <th scope="col" colspan="3" style="background-color: var(--sidebar-color);" >Manufactura</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="rows" style="background-color:#183554" >ID</th>
          <td style="background-color:#183554; color:white">Cumplimiento</td>
          <td style="background-color:#183554; color:white">Recomendación</td>

        </tr>
        <tr>
            <th scope="rows">2.3</th>
            <td>{{evaluacion.pregunta2_3}}</td>
          <td>{{recomendaciones.27}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">4.3</th>
            <td>{{evaluacion.pregunta4_3}}</td>
          <td>{{recomendaciones.28}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">5.2</th>
            <td>{{evaluacion.pregunta5_2}}</td>
          <td>{{recomendaciones.29}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">6.1</th>
            <td>{{evaluacion.pregunta6_1}}</td>
          <td>{{recomendaciones.30}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">6.2</th>
            <td>{{evaluacion.pregunta6_2}}</td>
          <td>{{recomendaciones.31}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">7.1</th>
            <td>{{evaluacion.pregunta7_1}}</td>
          <td>{{recomendaciones.32}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">8.1</th>
            <td>{{evaluacion.pregunta8_1}}</td>
          <td>{{recomendaciones.33}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">9.4</th>
            <td>{{evaluacion.pregunta9_4}}</td>
          <td>{{recomendaciones.34}}</td>
            
  
          </tr>
  </table><br>


  <table class="table">
    <thead>
        <tr>
          <th scope="col" colspan="3" style="background-color: var(--sidebar-color);" >Usuarios</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="rows" style="background-color:#183554" >ID</th>
          <td style="background-color:#183554; color:white">Cumplimiento</td>
          <td style="background-color:#183554; color:white">Recomendación</td>

        </tr>
        <tr>
            <th scope="rows">2.4</th>
            <td>{{evaluacion.pregunta2_4}}</td>
          <td>{{recomendaciones.35}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">3.2</th>
            <td>{{evaluacion.pregunta3_2}}</td>
          <td>{{recomendaciones.36}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">4.4</th>
            <td>{{evaluacion.pregunta4_4}}</td>
          <td>{{recomendaciones.37}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">6.3</th>
            <td>{{evaluacion.pregunta6_3}}</td>
          <td>{{recomendaciones.38}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">7.2</th>
            <td>{{evaluacion.pregunta7_2}}</td>
          <td>{{recomendaciones.39}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">8.5</th>
            <td>{{evaluacion.pregunta8_5}}</td>
          <td>{{recomendaciones.40}}</td>
            
  
          </tr>
  </table><br>

  <table class="table">
    <thead>
        <tr>
          <th scope="col" colspan="3" style="background-color: var(--sidebar-color);" >Aspectos</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="rows" style="background-color:#183554" >ID</th>
          <td style="background-color:#183554; color:white">Cumplimiento</td>
          <td style="background-color:#183554; color:white">Recomendación</td>

        </tr>
        <tr>
            <th scope="rows">4.6</th>
            <td>{{evaluacion.pregunta4_6}}</td>
          <td>{{recomendaciones.41}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">6.4</th>
            <td>{{evaluacion.pregunta6_4}}</td>
          <td>{{recomendaciones.42}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">7.3</th>
            <td>{{evaluacion.pregunta7_3}}</td>
          <td>{{recomendaciones.43}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">8.3</th>
            <td>{{evaluacion.pregunta8_3}}</td>
          <td>{{recomendaciones.44}}</td>
            
  
          </tr>
          <tr>
            <th scope="rows">9.2</th>
            <td>{{evaluacion.pregunta9_2}}</td>
          <td>{{recomendaciones.45}}</td>
          </tr>
  </table><br>


  <style>
      .table{
          position: relative;
          left: 5%;
      }
      .table th{
          background-color: #006594;
          color: white;
      }
      .table td{
          background-color: white;
      }
      .third{
          height: 400px;
          width: 50px;
      }
  .third .highcharts-data-table table {
      min-width: 310px;
      max-width: 800px;
      margin: 1em auto;
  }  
  .second{
      max-width: 400px;
      margin: 0 auto;
  } 
  .first .highcharts-data-table table {
      min-width: 310px;
      max-width: 500px;
      margin: 1em auto;
  }
  
  .highcharts-figure,.highcharts-data-table table {
      min-width: 780px;
      max-width: 5000px;
      margin: 0 auto;
  }
  
  .highcharts-data-table table {
      font-family: Verdana, sans-serif;
      border-collapse: collapse;
      border: 1px solid #ebebeb;
      margin: 10px auto;
      text-align: center;
      width: 100%;
      max-width: 500px;
  }
  
  .highcharts-data-table caption {
      padding: 1em 0;
      font-size: 1.2em;
      color: #555;
  }
  
  .highcharts-data-table th {
      font-weight: 600;
      padding: 0.5em;
  }
  
  .highcharts-data-table td,
  .highcharts-data-table th,
  .highcharts-data-table caption {
      padding: 0.5em;
  }
  
  .highcharts-data-table thead tr,
  .highcharts-data-table tr:nth-child(even) {
      background: #f8f8f8;
  }
  
  .highcharts-data-table tr:hover {
      background: #f1f7ff;
  }
  </style>
{%endblock body%}