{% extends 'base.html'%}
{% block title %} Usuario del Producto {% endblock title%}

{%block text%}Llene las siguientes preguntas{%endblock text%}
{% block body%}
<div class="wrapper">
  <div class="form-box login">
    <h2>Usuarios del Producto</h2>
    <form action="/guardar_usuarios_producto/" method="POST">
      {% csrf_token %}
      <div  id ="div_usuarios" class="input-box">
        <p>¿Ha explorado posibles usuarios y/o clientes de la invención?</p>
        <label>
        <input type="radio" class="res" id="input_usuarios" name="usuarios" value="Sí" required onclick="javascript:activar_desactivar('usuarios');">
         Sí
        </label>
        <label><input type="radio" id="input_usuarios2" class="res"  name="usuarios" value="No" required onclick="javascript:activar_desactivar('usuarios');">
        No
        </label>
        <label><input type="radio" id="input_usuarios3" class="res"  name="usuarios" value="No se" required onclick="javascript:activar_desactivar('usuarios');">
          No
          </label>
      </div>
      <div id ="div_evidencia_usuarios"class="input-box">
        <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>
      <label>
      <input type="radio" name="evidencia_usuarios" value="Sí" class="res">
       Sí
      </label>
      <label><input type="radio" name="evidencia_usuarios" value="No" class="res">
      No
      </label>
      <label><input type="radio" name="evidencia_usuarios" value="No se" class="res" >
        No se
        </label>
      </div>
      <div  id ="div_proceso_validacion" class="input-box">
        <p>¿Ha llevado a cabo algún proceso de validación de mercado sobre su invención? (Innovación & Desarrollo en laboratorio y primeras pláticas con posibles usuarios)</p>
        <label>
        <input id="input_proceso_validacion" type="radio" class="res" name="proceso_validacion" value="Sí" required onclick="javascript:activar_desactivar('proceso');">
         Sí
        </label>
        <label><input id="input_proceso_validacion2" type="radio" class="res" name="proceso_validacion" value="No" required  onclick="javascript:activar_desactivar('proceso');">
        No
        </label>
        <label><input id="input_proceso_validacion3" type="radio" class="res" name="proceso_validacion" value="No se" required  onclick="javascript:activar_desactivar('proceso');">
          No se
        </label>
      </div>
      <div  id="div_evidencia_proceso_validacion" class="input-box">
        <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>
        <label>
        <input type="radio" class="res" value="Sí" name="evidencia_proceso_validacion" >
         Sí
        </label>
        <label><input type="radio" class="res" value="No" name="evidencia_proceso_validacion" >
        No
        </label>
        <label><input type="radio" class="res" value="No se" name="evidencia_proceso_validacion">
          No se
          </label>
      </div>
      <div id="div_validacion_mercado" class="input-box">
        <p>¿Ha actualizado la validación de mercado de su invención con más entrevistas con usuarios potenciales y estudios de mercado? ¿Cuántas veces?</p>
        <label>
        <input id="input_validacion_mercado" type="radio" value="Sí" class="res" name="validacion_mercado"  onclick="javascript:activar_desactivar('validacion');">
         Sí
        </label>
        <label><input id="input_validacion_mercado2" type="radio" value="No" class="res" name="validacion_mercado"  onclick="javascript:activar_desactivar('validacion');">
        No
        </label>
        <label><input id="input_validacion_mercado3" type="radio" value="No se" class="res" name="validacion_mercado"  onclick="javascript:activar_desactivar('validacion');">
          No se
        </label>
      </div>
      <div  id="div_evidencia_validacion_mercado" class="input-box">
        <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>        
    <label>
    <input type="radio" class="res" value="Sí" name="evidencia_validacion_mercado">
     Sí
    </label>
    <label><input type="radio" class="res" value="No" name="evidencia_validacion_mercado">
    No
    </label>
    <label><input type="radio" class="res" value="No se" name="evidencia_validacion_mercado">
      No se
      </label>
  </div>
  <div  id ="div_usuarios_potenciales" class="input-box">
    <p>¿Cuenta con usuarios potenciales que prueben la producción a baja escala?</p>
    <label>
    <input id="input_usuarios_potenciales" type="radio" value="Sí" class="res" name="usuarios_potenciales" required onclick="javascript:activar_desactivar('usuarios_potenciales');">
     Sí
    </label>
    <label><input id="input_usuarios_potenciales2" type="radio" value="No" class="res" name="usuarios_potenciales" required  onclick="javascript:activar_desactivar('usuarios_potenciales');">
    No
    </label>
    <label><input id="input_usuarios_potenciales3" type="radio" value="No se" class="res" name="usuarios_potenciales" required  onclick="javascript:activar_desactivar('usuarios_potenciales');">
      No se
    </label>
  </div>
  <div  id="div_evidencia_usuarios_potenciales" class="input-box">
    <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>        
<label>
<input type="radio" class="res" value="Sí" name="evidencia_usuarios_potenciales">
 Sí
</label>
<label><input type="radio" class="res" value="No" name="evidencia_usuarios_potenciales">
No
</label>
<label><input type="radio" class="res" value="No se" name="evidencia_usuarios_potenciales">
  No se
  </label>
</div>
<div  id ="div_version_final" class="input-box2">
    <p>¿Cuenta con usuarios potenciales que prueben la versión final del version_final?</p>
    <label>
    <input id="input_version_final" type="radio" value="Sí" class="res" name="version_final" required onclick="javascript:activar_desactivar('version_final');">
     Sí
    </label>
    <label><input id="input_version_final2" type="radio" value="No" class="res" name="version_final" required  onclick="javascript:activar_desactivar('version_final');">
    No
    </label>
    <label><input id="input_version_final3" type="radio" value="No se" class="res" name="version_final" required  onclick="javascript:activar_desactivar('version_final');">
      No se
      </label>
  </div>
  <div  id="div_evidencia_version_final" class="input-box2" style="top:23%">
    <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>        
<label>
<input type="radio" class="res" value="Sí" name="evidencia_version_final">
 Sí
</label>
<label><input type="radio" class="res" value="No" name="evidencia_version_final">
No
</label>
<label><input type="radio" class="res" value="No se " name="evidencia_version_final">
  No se
  </label>
</div>
<div  id ="div_documentos" class="input-box2" style="top:31.5%">
    <p>¿Elaboró los documentos para la utilización y mantenimiento del producto (manual del usuario, soporte técnico)?</p>
    <label>
    <input id="input_documentos" type="radio" class="res" name="documentos" value="Sí" required onclick="javascript:activar_desactivar('documentos');">
     Sí
    </label>
    <label><input id="input_documentos2" type="radio" class="res" name="documentos" value="No" required  onclick="javascript:activar_desactivar('documentos');">
    No
    </label>
    <label><input id="input_documentos3" type="radio" class="res" name="documentos" value="No se" required  onclick="javascript:activar_desactivar('documentos');">
      No se
      </label>
  </div>
  <div  id="div_evidencia_documentos" class="input-box2" style="top:44%">
    <p>¿Cuenta con evidencia documentada que avale lo anterior?</p>        
<label>
<input type="radio" class="res" value="Sí" name="evidencia_documentos">
 Sí
</label>
<label><input type="radio" class="res" value="No" name="evidencia_documentos">
No
</label>
<label><input type="radio" class="res" value="No se" name="evidencia_documentos">
  No se
  </label>
</div>

  <button type="submit" class="btn">Registrar</button>
    </form>
  </div>
  
  </div>
<img src="https://media.discordapp.net/attachments/713043245214597160/1095772584806723784/Mi_proyecto.png?width=1224&height=646" class="img"> 

<script>
  function activar_desactivar(dato){
  switch(dato){
  case "usuarios":
  if(document.getElementById('input_usuarios').checked){
    document.getElementById('div_evidencia').style.display="block";
   }
  else{
    if(document.getElementById('input_usuarios2').checked || document.getElementById('input_usuarios3').checked){
    document.getElementById('div_evidencia').style.display="none";
   }
  }
  break;
  case "proceso":
  if(document.getElementById('input_proceso_validacion').checked){
    document.getElementById('div_evidencia_proceso_validacion').style.display="block";
    document.getElementById('div_validacion_mercado').style.display="block";
  
  }
  else{
    if(document.getElementById('input_proceso_validacion2').checked || document.getElementById('input_proceso_validacion3').checked){
    document.getElementById('div_evidencia_proceso_validacion').style.display="none";
    document.getElementById('div_validacion_mercado').style.display="none";
  }
  }
  break;
  case "validacion":
    if(document.getElementById('input_validacion_mercado').checked){
      document.getElementById('div_evidencia_validacion_mercado').style.display="block";
    }
    else{
      if(document.getElementById('input_validacion_mercado2').checked || document.getElementById('input_validacion_mercado3').checked){
      document.getElementById('div_evidencia_validacion_mercado').style.display="none";
    }
    }
    break;

  case "usuarios_potenciales":
    if(document.getElementById('input_usuarios_potenciales').checked){
      document.getElementById('div_evidencia_usuarios_potenciales').style.display="block";
    }
    else{
      if(document.getElementById('input_usuarios_potenciales2').checked || document.getElementById('input_usuarios_potenciales3').checked){
      document.getElementById('div_evidencia_usuarios_potenciales').style.display="none";
    }
    }
    break;

    case "version_final":
    if(document.getElementById('input_version_final').checked){
      document.getElementById('div_evidencia_version_final').style.display="block";
    }
    else{
      if(document.getElementById('input_version_final2').checked || document.getElementById('input_version_final3').checked){
      document.getElementById('div_evidencia_version_final').style.display="none";
    }
    }
    break;

    case "documentos":
    if(document.getElementById('input_documentos').checked){
      document.getElementById('div_evidencia_documentos').style.display="block";
    }
    else{
      if(document.getElementById('input_version_final2').checked || document.getElementById('input_version_final3').checked){
      document.getElementById('div_evidencia_documentos').style.display="none";
    }
    }
    break;
  
  }
  
  }
  
  </script>



<style>
.wrapper{
            width: 1100px;
            height: 850px;
            background: transparent;
            border: 8px solid #d49d11;
            position: relative;
            margin: -25px 0 0 -25px;
           
            backdrop-filter: blur(15px);
            box-shadow: 20px 20px 20px 0px rgba(0, 0, 0,.9);
            top:15%;
            left: 8%;
           /*display: flex;
           justify-content: center;
           align-items: center;*/
           margin-bottom: 10px;
  
           
        }
        .wrapper .form-box{
            width: 100%;
            padding: 40px;
        }
        
        .form-box h2{
          font-size: 2em;
          color: white;
          text-align: center;

        }
        #div_evidencia, #div_validacion_mercado, #div_evidencia_proceso_validacion, #div_evidencia_validacion_mercado{
          display: none;
        }


        #div_evidencia_usuarios_potenciales, #div_evidencia_version_final, #div_evidencia_documentos{
          display: none;
        }
         
        .input-box{
    width: 500px;
   border-radius: 10px;
    background: transparent;
    color: white;
    border-bottom: 2px solid #d49d11;
    border-top: 2px solid #d49d11;
    margin-bottom: 10px;
                
                
            }
    .input-box2{
    position: absolute;
    top:10.8%; 
    left: 50%;
    
     margin-left: 10px;
     width: 500px;
   border-radius: 10px;
    background: transparent;
    color: white;
    border-bottom: 2px solid #d49d11;
    border-top: 2px solid #d49d11;
    margin-bottom: 10px;
    }
      .res{
        margin-bottom: 15px;
      }

        
        
       
         .input-box p{
    display: flex;
    justify-content: center;
    align-items: center;
            }
  .input-box label{
    display: line;
  position: relative;
  left: 30%;
  margin-right:10px ;
  
  border-bottom: 2px solid #d49d11;
  margin-bottom: 20px;
  }

  
      
        .btn{
          width: 30%;
          height: 45px;
          background: #162938;
          border: none;
          outline:none;
          border-radius: 6px;
          cursor: pointer;
          font-size: 1em;
          color:#fff;
          font-weight: 500;
          margin-top: 10px;
          position: absolute;
          bottom: 40%;
          right:10% ;
          
        }
        .img{
          position: absolute;
          top: 98%;
          right:15% ;
          width: 600px;
        }
        
    </style>
    

</style>
           
      

 
 


{%endblock body%}