{% extends 'base2.html'%}
{%block title %}Administrador - Cuestionario{% endblock title %}
{%block text %}Administrador - Cuestionario{% endblock text%}
{%block body%}
<div class="row" style="position:absolute; top:30%; left: 15%; width: 1000px; margin-bottom: 10px;">
<div class="col-sm-3 col-me-3">
  <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
    <a href="#" style="text-decoration: none;">
      <img src="https://media.discordapp.net/attachments/713043245214597160/1081244355240661033/research-and-development1.png" width="90px" style="filter: hue-rotate(210deg) saturate(100%) brightness(21%); ">
    <div class="card-body">
      <p class="card-text" style="color: var(--primary-color)" id="texto3">Investigación</p>
    </div>
    </a>
  </div>
</div>
<div class="col-sm-3 col-me-3">
  <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
    <a href="#" style="text-decoration: none;">
      <img src="https://media.discordapp.net/attachments/713043245214597160/1083464023913279538/development2.png" width="90px">
    <div class="card-body">
      <p class="card-text" style="color: white" id="texto3">Desarrollo</p>
    </div>
    </a>
  </div>
</div>
<div class="col-sm-3 col-me-3">
  <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
    <a href="#" style="text-decoration: none;">
      <img src="https://media.discordapp.net/attachments/713043245214597160/1083115185318924430/integracion-tecnologica1.png" width="90px">
    <div class="card-body">
      <p class="card-text" style="color: white" id="texto3">Integración Tecnológica</p>
    </div>
    </a>
  </div>
</div>
<div class="col-sm-3 col-me-3">
  <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
    <a href="#" style="text-decoration: none;">
      <img src="https://media.discordapp.net/attachments/713043245214597160/1083115185067262012/propiedad-intelectual1.png" width="90px">
    <div class="card-body">
      <p class="card-text" style="color: white" id="texto3">Propiedad Intelectual</p>
    </div>
    </a>
  </div>
</div>
</div>
<div class="row" style="position:absolute; top:60%; left: 15%; width: 1000px;">
    <div class="col-sm-3 col-me-3">
      <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
        <a href="#" style="text-decoration: none;">
          <img src="https://media.discordapp.net/attachments/713043245214597160/1083115184811417620/normativo1.png" width="90px">
        <div class="card-body">
          <p class="card-text" style="color: white" id="texto3">Normatividad</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col-sm-3 col-me-3">
      <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
        <a href="#" style="text-decoration: none;">
          <img src="https://media.discordapp.net/attachments/713043245214597160/1083115184538783845/producto1.png" width="90px">
        <div class="card-body">
          <p class="card-text" style="color: white" id="texto3">Manufactura</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col-sm-3 col-me-3">
      <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
        <a href="#" style="text-decoration: none;">
          <img src="https://media.discordapp.net/attachments/713043245214597160/1083115184245178418/programador1.png" width="90px">
        <div class="card-body">
          <p class="card-text" style="color: white" id="texto3">Usuarios</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col-sm-3 col-me-3">
      <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
        <a href="#" style="text-decoration: none;">
          <img src="https://media.discordapp.net/attachments/713043245214597160/1083115183989334106/relacion-de-aspecto1.png" width="90px"> 
        <div class="card-body">
          <p class="card-text" style="color: white" id="texto3">Aspectos</p>
        </div>
        </a>
      </div>
    </div>
    </div>

{%endblock body%}    