{% extends 'base2.html'%}
{%block title %}Administrador - Inicio{% endblock title %}
{%block body%}
<div class="row" style="position:absolute; top:40%; left: 15%; width: 1000px;">
<div class="col-sm-3 col-me-3">
  <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
    <a href="#" style="text-decoration: none;">
      <img src="https://media.discordapp.net/attachments/713043245214597160/1083115183741866107/signo-de-interrogacion1.png" width="90px">
    <div class="card-body">
      <p class="card-text" style="color: white" id="texto3">Preguntas</p>
    </div>
    </a>
  </div>
</div>
<div class="col-sm-3 col-me-3">
  <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
    <a href="#" style="text-decoration: none;">
      <img src="https://media.discordapp.net/attachments/713043245214597160/1083115184245178418/programador1.png" width="90px">
    <div class="card-body">
      <p class="card-text" style="color: white" id="texto3">Usuarios</p>
    </div>
    </a>
  </div>
</div>
<div class="col-sm-3 col-me-3">
  <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
    <a href="#" style="text-decoration: none;">
      <img src="https://media.discordapp.net/attachments/713043245214597160/1083115183540535296/respuestas.png" width="90px">
    <div class="card-body">
      <p class="card-text" style="color: white" id="texto3">Cuestionarios</p>
    </div>
    </a>
  </div>
</div>
<div class="col-sm-3 col-me-3">
  <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
    <a href="#" style="text-decoration: none;">
      <img src="https://media.discordapp.net/attachments/713043245214597160/1083115183221772298/informacion.png" width="90px">
    <div class="card-body">
      <p class="card-text" style="color: white" id="texto3">Nomenclatura</p>
    </div>
    </a>
  </div>
</div>
</div>

{%endblock body%}

<style>
.botones{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--sidebar-color);
}


.card{
margin:0 auto;
color: white;
width: 400px;
padding: 20px;
box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
border-radius: 20px;
}
.card-body{
    margin: -20px;
    padding: 20px;
    border-radius: 00px 00px 20px 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>

