{% extends 'base2.html'%}
{%block title %}Administrador - Preguntas Desarrollo{% endblock title %}
{%block text %}Administrador - Editar Desarrollo{% endblock text%}
{%block body%}

    <p style="color: white; margin-top: 10%;margin-left: 10%;">Seleccione la pregunta a editar</p>
    <div class="row" style="position:absolute; top:50%; left: 15%; width: 1000px;">
      <div class="col-sm-3 col-me-3">
        <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
        <a href="{% url 'editar_investigacion' 4 %}" style="text-decoration: none;">
          <div class="card-body">
            <p class="card-text" style="color: white" id="texto3">4.2</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-sm-3 col-me-3">
      <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
        <a href="{%url 'editar_investigacion' 5 %}" style="text-decoration: none;">
          <div class="card-body">
            <p class="card-text" style="color: white" id="texto3">4.5</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-sm-3 col-me-3">
      <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
        <a href="{%url 'editar_investigacion' 6 %}" style="text-decoration: none;">
          <div class="card-body">
            <p class="card-text" style="color: white" id="texto3">4.6</p>
          </div>
        </a>
      </div>
    </div>
    </div>
    <div class="row" style="position:absolute; top:65%; left: 15%; width: 1000px;">
      <div class="col-sm-3 col-me-3">
        <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
          <a href="{% url 'editar_investigacion' 7 %}" style="text-decoration: none;">
            <div class="card-body">
              <p class="card-text" style="color: white" id="texto3">5.1</p>
            </div>
          </a>
        </div>
      </div>
      
      <div class="col-sm-3 col-me-3">
        <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
        <a href="{% url 'editar_investigacion' 8 %}" style="text-decoration: none;">
          <div class="card-body">
            <p class="card-text" style="color: white" id="texto3">6.0</p>
          </div>
        </a>
      </div>
    </div>
  
    <div class="col-sm-3 col-me-3">
      <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
      <a href="{% url 'editar_investigacion' 9 %}" style="text-decoration: none;">
        <div class="card-body">
          <p class="card-text" style="color: white" id="texto3">7.4</p>
        </div>
      </a>
    </div>
  </div>
      
    </div>
    
    
    


  


    <div class="row" style="position:absolute; top:80%; left: 15%; width: 1000px;">

<div class="col-sm-3 col-me-3">
  <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
  <a href="{% url 'editar_investigacion' 10 %}" style="text-decoration: none;">
    <div class="card-body">
      <p class="card-text" style="color: white" id="texto3">8.2</p>
    </div>
  </a>
</div>
</div>

<div class="col-sm-3 col-me-3">
  <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
  <a href="{% url 'editar_investigacion' 11 %}" style="text-decoration: none;">
    <div class="card-body">
      <p class="card-text" style="color: white" id="texto3">9.1</p>
    </div>
  </a>
</div>
</div>

<div class="col-sm-3 col-me-3">
  <div class="card btn btn-outline-dark" style="background-color:var(--sidebar-color);">
  <a href="{% url 'editar_investigacion' 12 %}" style="text-decoration: none;">
    <div class="card-body">
      <p class="card-text" style="color: white" id="texto3">9.3</p>
    </div>
  </a>
</div>
</div>

{%endblock body%}

<style>

.card{
margin:0 auto;
color: white;
width: 300px;
padding: 20px;
box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
border-radius: 20px;
}
.card-body{
    margin: -20px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>

